bboxes/
checkpoints/
vector_plots/
labeled_poses/
comparisons/
tim_paper/
synced/
synced_cut_long/
*.jpg
chb/
# …except keep anna1 (and all its contents)
!chb/anna1/
!chb/anna1/**
!chb/anna2/
!chb/anna2/**
!chb/anna3/
!chb/anna3/**

EfficientTAM/
sam2/


__pycache__/
venv/
.env/
env/