bboxes/
checkpoints/
vector_plots/
labeled_poses/
comparisons/
tim_paper/
synced/
synced_cut_long/
json_to_mp4.ipynb
triangulate_2dpoints.ipynb
*.jpg

short_test/

EfficientTAM/
sam2/
*.7z

__pycache__/
venv/
.env/
env/

vis_dir/
*.MOV
hand_triangulation_output/
